html, body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

html {
    /* чтобыне выделялся текст */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'RussoOne';
    src: url(../assets/fonts/RussoOne-Regular.ttf);
}
@font-face {
    font-family: 'Circe';
    src: url(../assets/fonts/CirceThin.ttf);
}


.main__container {
    /* background: rgba(220, 20, 60, 0.329); */
    max-width: 1664px;
    height: 100%;
    object-fit: cover;
    margin: auto;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1110px;
    height: auto;
    margin: auto;
    /*margin-top: -300px;*/
    /* background: rgba(108, 207, 51, 0.671); */
    z-index: 100;
}

.container-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1110px;
    height: auto;
    margin: auto;
    /* background: rgba(255, 217, 0, 0.705); */
    z-index: 100;
}

.revers-column {
    display: flex;
    flex-direction: column-reverse;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-track {
    background: #f0eded;
}  

::-webkit-scrollbar-thumb {
    background: #C60A2C;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #FF3A44;
}

/*font-family*/

.circe {
    font-family: 'Circe', sans-serif;
}