@font-face {
    font-family: 'RussoOne';
    src: url(../assets/fonts/RussoOne-Regular.ttf);
}
@font-face {
    font-family: 'Circe';
    src: url(../assets/fonts/CirceThin.ttf);
}

body {
    background: #1D1C21;
    box-sizing: border-box;
}


/* Navbar */
.navbar {
    display: flex;
    position: fixed;
    background: #1d1c2188;
    width: 100%;
    height: auto;
    padding: 27px 0px 26px 0px;
    border-bottom: 3px solid #58585B;
    justify-content: right;
    z-index: 999;
    align-items: center;
}

.navbar--logo {
    position: absolute;
    top: 48px;
    left: 0;
    padding-bottom: 30px;
    border-bottom: 7px solid #CB1642;
    margin-left: 120px;
}

.navbar--info {
    display: flex;
    gap: 30px;
    margin-right: 62px;
    align-items: center;
}

.navbar--number {
    color: #F9F9FB;
    text-decoration: none;
    font-family: 'Circe';
    font-size: 16px;
    font-weight: 700;
}

.navbar--repeatCalling {
    color: #F9F9FB;
    text-decoration: none;
    font-family: 'Circe';
    font-size: 16px;
    font-weight: 600;
    padding: 0 16px;
    border-radius: 50px;
    background: #C80A2C;
    display: flex;
    align-items: center;
    height: 40px;
}


/* Navbar - burger menu */

.burger-menu_container {
    display: flex;
    margin-right: 120px;
}

#burger-toggle {
    display: none;
}

.burger-menu {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
  }
  
  .burger-menu span {
    display: block;
    width: 100%;
    height: 3px;
    background: rgb(229, 229, 229);
    position: absolute;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .burger-menu span:nth-child(1) {
    top: 0;
  }
  
  .burger-menu span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .burger-menu span:nth-child(3) {
    bottom: 0;
  }
  
  #burger-toggle:checked + .burger-menu span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  #burger-toggle:checked + .burger-menu span:nth-child(2) {
    opacity: 0;
  }
  
  #burger-toggle:checked + .burger-menu span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .menu {
    display: none;
  }
  
  #burger-toggle:checked ~ .menu {
    display: block;
    /* Дополнительные стили для отображения меню */
  }
  

/* Main */

.main {
    background-image: url(../assets/images/headerMenu--image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1920px;
    height: auto;
    box-shadow: inset -20px -177px 86px -110px #1D1C21;
    margin-bottom: 58px;
    margin: auto;
}

.backgroundLogo {
    position: absolute;
    top: 11%;
    right: 7.8%;
}


.leftContent {
    display: flex;
    max-width: 524px;
    height: auto;
    text-align: left;
    flex-direction: column;
    padding-top: 263px;
}

.leftContent--header {
    color: rgb(255, 255, 255);
    font-family: 'RussoOne';
    font-size: 70px;
    font-weight: 400;
    line-height: 84px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 0px 1.5px 0 red, -2px 1.5px 0 blue;
}

.leftContent--text {
    color: rgb(249, 249, 251);
    font-family: 'Circe';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    margin-bottom: 47px;
}


.leftContent--input {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.formMod {
    display: flex;
    margin-bottom: 30px;
    gap: 20px;
}

.leftContent--nameInput::placeholder {
    color: rgb(249, 249, 251);
    font-family: Circe;
    font-size: 16px;
    font-weight: 350;
    line-height: 24px;
    letter-spacing: 0%;
}
.leftContent--nameInput {
    padding: 10px 0px 10px 20px;
    border: 1px solid #3D3F46;
    background: rgba(0, 0, 0, 0.219);
    color: rgb(249, 249, 251);
}

.leftContent--submitInput {
    background: #C80A2C;
    color: rgb(249, 249, 251);
    border-radius: 50px;
    border: none;
    max-width: 397px;
    height: 45px;
    margin-bottom: 273px;
}

.main--sotial {
    width: auto;
    height: 42px;
    display: flex;
    gap: 18px;
    align-items: center;
}

.main--sotial--header {
    color: rgb(249, 249, 251);
    font-family: 'Circe';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
}

.main--sotial__leftContent {
    display: flex;
    gap: 10px;
}

.main--sotial--link {
    display: inline-flex;
    width: 18px;
    height: 18px;
    border: 1px solid #403E43;
    padding: 11px;
}

.facebookSize {
    width: 11px;
    height: 20px;
    padding: 10px 15px;
}

.vkSize {
    width: 19px;
    height: 10px;
    padding: 15px 10px;
}

.pageNavigator {
    width: 1134px;
    height: auto;
    display: flex;
    justify-content: center;
    margin-left: auto;
}

.main__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Inventory */

.inventory {
    background-image: url(../assets/images/inventoryBG-image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1920px;
    height: 1219px;
    margin-bottom: 60px;
    margin: auto;
}

.inventory--header {
    color: rgb(255, 255, 255);
    font-family: 'RussoOne';
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}




.inventoryFrame {
    display: flex;
    flex-direction: column;
    max-width: 1110px;
    height: auto;
    margin: auto;
    gap: 30px;
    margin-bottom: 60px;
}

.frameContainer {
    display: inline-flex;
    gap: 30px;
    margin: auto;
}

.frame {
    display: flex;
    width: 350px;
    height: 202px;
    background-image: url(../assets/images/frameBG-image.jpeg);
    position: relative;
}

.frame__content {
    display: flex;
    flex-direction: column;
    max-width: 272px;
    height: 202px;
    margin: auto;
    border-bottom: 5px solid rgb(200, 10, 44);
}

.frame--header {
    color: rgb(249, 249, 251);
    font-family: 'Circe';
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 16px;
}

.frame--text {
    color: rgb(249, 249, 251);
    font-family: 'Circe';
    font-size: 16px;
    font-weight: 350;
    line-height: 24px;
    text-align: left;
}

.frame--number {
    position: absolute;
    color: rgb(249, 249, 251);
    font-family: 'RussoOne';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    padding: 9px;
    background: rgba(255, 255, 255, 0.1);
    right: 0;
    top: -16px;
}

.freeTraining {
    display: flex;
    max-width: 1110px;
    height: 140px;
    margin: auto;
    border: 5px solid rgb(200, 10, 44);
    align-items: center;
}

.freeTraining--text {
    color: rgb(249, 249, 251);
    font-family: 'Circe';
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 40px;
    margin-right: 63px;
}

.freeTraining--link {
    color: rgb(249, 249, 251);
    font-family: 'Circe';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    width: 160px;
    height: 40px;
    text-decoration: none;
    border-radius: 40px;
    background: rgb(200, 10, 44);
}

.freeTraining--link > p {
    text-align: center;
    margin: auto;
    margin-top: 9px;
}





























